h2{
    margin-top:20px;
}
.button_size{
    width: 80px;
    height: 50px;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

button:focus{
    outline: none ;
}
main{
    /* margin-top: ; */
    text-align: center;
}
.input_field{
    margin-top: 30px;
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    border:1px solid #0d6efd;
    border-radius:5px;
}

.input_field:focus{
    Outline: none;
}